body {
  background-color: lightgray;
  text-align: center;
  font-family: "Love Ya Like A Sister", cursive;
}

h1 {
  color: black;
}

#gridContainer {
  border: 1px solid black;
  border-radius: 3%;
  background-color: lightblue;
  padding: 20px;
  height: 800px;
  width: 800px;
  margin: auto;
  margin-top: 50px;
  font-size: 24px;
}

.grid {
  background-color: white;
  display: inline-block;
  margin: 0;
  padding: 0;
  outline: 1px solid black;
}
